CLIENT_URI=your_frontend_uri
API_URI=your_backend_uri
EXPENSE_CATEGORY_URI=path_to_your_backend_public_expense_folder
REQUEST_TIMEOUT=max_request_time

START_YEAR=web_expense_start_year
OTP_LENGTH=otp_length_must_be_the_same_as_backend
RESEND_EMAIL_TIMEOUT=interval_for_each_resend_email
MAX_FILE_SIZE_IN_MB=max_file_size_accepted_in_backend
CONFIRMATION_WORD=CONFIRM

GITHUB_URI=your_github_uri
LINKEDIN_URI=your_linkedin_uri
INSTAGRAM_URI=your_instagram_uri
WHATSAPP_URI=your_whatsapp_uri