MODE=development/production

PORT=your_server_port
MONGODB_URI_DEV=local_mongodb_uri
SERVER_URI_DEV=server_localhost
CLIENT_URI_DEV=client_localhost

MONGODB_URI_PROD=cloud_mongodb_uri
SERVER_URI_PROD=server_uri
CLIENT_URI_PROD=client_uri

SALT_ROUNDS=10
OTP_LENGTH=min_4_and_max_10
ACCEPT_JSON_MAX_SIZE_IN_MB=max_size_acceptable_for_image
EXPENSE_CATEGORY_FILE_NAME_LENGTH=image_file_name_length
RATE_LIMIT_MINUTE=rate_limit_minute

EMAIL_ADDRESS=your_email_address
EMAIL_PWD=your_app_password
EMAIL_NAME=your_email_name

GITHUB_URI=
LINKEDIN_URI=
INSTAGRAM_URI=
WHATSAPP_URI=

ACCESS_TOKEN_SECRET=

REFRESH_TOKEN_COOKIE=random_string
REFRESH_TOKEN_SECRET=